header {
  padding: 1.2rem 1.6rem;
  background-color: hsl(var(--clr-neutral-100));
  border-bottom: 1px solid hsl(var(--clr-neutral-150));
}

header,
header > div {
  gap: 1.6rem;
  display: flex;
  align-items: center;
}

header > div {
  width: 100%;
  justify-content: space-between;
}

header button.icon {
  font-size: var(--fs-400);
  border-color: hsl(var(--clr-neutral-200));
}

header button.icon:hover {
    background-color: hsl(var(--clr-neutral-150));
}

header h1 {
  font-size: var(--fs-500);
}
