.get-started-sec .sec-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "A A" "B C";
  column-gap: 1.6rem;
}

@media screen and (min-width: 480px) {
    .get-started-sec .sec-content {
      display: flex;
      justify-content: start;
    }

    .get-started-sec button.x-large {
      max-width: 24rem;
    }
}

.get-started-sec .sec-content button.x-large {
  height: 12rem;
}

.get-started-sec .sec-content button.build-btn {
  grid-area: A;
}

.get-started-sec .sec-content button.other-tools-btn {
  grid-area: B;
}

.get-started-sec .sec-content button.mini-games-btn {
  grid-area: C;
}

