/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-default);
  color: hsl(var(--clr-black));
  transition: all 0.2s linear;
  z-index: 10;
}

:root {
  /* /////////////////////////
    COLORS
  ///////////////////////// */

  /* Primary */
  --clr-white: 0, 0%, 100%;
  --clr-black: 0, 0%, 0%;

  /* Neutrals */
  --clr-neutral-100: 220, 5%, 97%;
  --clr-neutral-150: 220, 5%, 92%;
  --clr-neutral-200: 220, 5%, 87%;
  --clr-neutral-300: 220, 5%, 77%;
  --clr-neutral-400: 220, 5%, 67%;
  --clr-neutral-500: 220, 5%, 57%;
  --clr-neutral-600: 220, 5%, 47%;
  --clr-neutral-700: 220, 5%, 37%;
  --clr-neutral-800: 220, 5%, 27%;
  --clr-neutral-900: 220, 5%, 17%;

  /* Primary */
  --clr-primary-100: 5, 99%, 90%;
  --clr-primary-200: 5, 99%, 83%;
  --clr-primary-300: 5, 99%, 76%;
  --clr-primary-400: 5, 99%, 69%;
  --clr-primary-500: 5, 99%, 62%;
  --clr-primary-600: 5, 99%, 55%;
  --clr-primary-700: 5, 99%, 48%;
  --clr-primary-800: 5, 99%, 41%;
  --clr-primary-900: 5, 99%, 34%;

  /* Accent */
  --clr-accent-100: 31, 64%, 98%;
  --clr-accent-200: 31, 64%, 93%;
  --clr-accent-300: 31, 64%, 88%;
  --clr-accent-400: 31, 64%, 83%;
  --clr-accent-500: 31, 64%, 73%;
  --clr-accent-600: 31, 64%, 68%;
  --clr-accent-700: 31, 64%, 63%;
  --clr-accent-800: 31, 64%, 58%;
  --clr-accent-900: 31, 64%, 53%;

  /* /////////////////////////
    TYPOGRAPHY
  ///////////////////////// */

  /* Font Sizes */
  --fs-900: calc(var(--fs-800) * 1.25);
  --fs-800: calc(var(--fs-700) * 1.25);
  --fs-700: calc(var(--fs-600) * 1.25);
  --fs-600: calc(var(--fs-500) * 1.25);
  --fs-500: calc(var(--fs-400) * 1.25);
  --fs-400: 16px;
  --fs-300: calc(var(--fs-400) / 1.25);
  --fs-200: calc(var(--fs-300) / 1.25);

  /* Font Families */
  --ff-default: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* /////////////////////////
  TYPOGRAPHY RESET
///////////////////////// */

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h1,
.fs-900 {
  font-size: var(--fs-900);
}

h2,
.fs-800 {
  font-size: var(--fs-800);
}

h3,
.fs-700 {
  font-size: var(--fs-700);
}

h4,
.fs-600 {
  font-size: var(--fs-600);
}

h5,
.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

/* /////////////////////////
  ELEMENTS RESET
///////////////////////// */

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: var(--fs-400);
}

/* /////////////////////////
  TEXT ELEMENTS
  ///////////////////////// */

a {
  font-size: var(--fs-400);
}

/* /////////////////////////
  BUTTON ELEMENTS
  ///////////////////////// */

button:disabled,
button:disabled * {
  color: hsl(var(--clr-neutral-300)) !important;
  pointer-events: none;
}

button.icon {
  border: 1.5px solid hsl(var(--clr-neutral-100));
  border-radius: 0.4rem;
  width: 3.2rem;
  aspect-ratio: 1;
  min-width: 3.2rem;
  overflow: hidden;
}

button.icon i {
  color: inherit;
}

button.icon:hover {
  background-color: hsl(var(--clr-neutral-150));
}

button.icon:focus-visible {
  box-shadow: 0px 0px 0px 2px hsl(var(--clr-black));
}

button.menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.8rem;
  margin-bottom: 0.4rem;
  border-radius: 0.8rem;
  gap: 1.2rem;
}

button.menu-item:hover {
  background-color: hsl(var(--clr-neutral-150));
}

button.menu-item .icon {
  font-size: var(--fs-500);
}
