.spinning-wheel-sec {
  padding: 1.6rem;
}

.spinning-wheel-sec h2 {
  margin-bottom: 1.6rem;
}

.spinning-wheel-sec .wheel-ctr {
  border: 1px solid red;
  height: fit-content;
  overflow: hidden;
}

.spinning-wheel-sec .wheel {
   
}

.spinning-wheel-sec .wheel .wheel-item {
  font-size: var(--fs-100);
}


/* .spinning-wheel-sec .wheel .wheel-item {
  font-size: var(--fs-400);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 50%;
  user-select: none;
  transform-origin: bottom right;
  rotate: calc(45deg * var(--i));
  background-color: hsl(var(--clr-neutral-150));
  clip-path: polygon(0 0, 55% 0, 100% 100%, 0 55%);
}

.spinning-wheel-sec .wheel .wheel-item span {
  rotate: -45deg;
}

.spinning-wheel-sec .wheel .wheel-item:nth-child(even) {
  background-color: hsl(var(--clr-primary-100));
}

.spinning-wheel-sec .wheel .wheel-item.selected {
  background-color: hsl(var(--clr-primary-400));
} */
